header {
	position: relative;
    z-index: 9991;
}

header .row {
	align-items: center;
	height: 108px;
}

header .searchBox {
	margin-left: 16px;
}

header .searchBox input {
	outline: none;
	box-sizing: border-box;
	width: 207px;
	border-radius: 50px;
	background-color: #FAFAFA;
	color: #387D65;
	border: 2px solid transparent;
	font-size: 16px;
	font-family: 'General Sans', sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	padding: 14px;
	padding-left: 62px;
	background-image: url('https://cfwww.hgreg.com/template/img/updates/icons/search-fill.svg');
	background-repeat: no-repeat;
	background-position: 21px 14px;
	transition: all 0.2s ease;
}

header .searchBox input::placeholder {
	color: #387D65
}

header .searchBox input:focus {
	border: 2px solid #387D65;
}

header .searchBox input:active {
	border: 2px solid #387D65;
}

header nav {
	margin-left: auto;
}

header ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

header ul li {
	display: inline-block;
	position: relative;
	margin-left: 24px;
	margin-bottom: -14px;
	color: #26253C;
}

header ul li a {
	color: #26253C;
	transition: all 0.1s ease;
}

header ul li a:hover {
	color: #387d65;
}

header ul li:last-of-type {
	cursor: pointer;
}

header ul li:last-of-type img {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -2px;
	margin-left: 3px;
}

header ul li .subMenu {
	position: absolute;
    left: -314px;
    box-sizing: border-box;
    width: 658px;
    z-index: 9991;
	opacity: 0;
	padding-top: 28px;
	visibility: hidden;
	transition: all 0.2s ease;
}

header ul li ul {
	padding: 32px 32px 0px 32px;
    background: white;
    border-radius: 14px;
    box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.06);
    width: 100%;
    float: left;
    position: relative;
}

header ul li ul:after {
    content: '';
    position: absolute;
    left: calc(50% - 6px);
    top: -8px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 11px solid #fff;
    clear: both;
    border-radius: 38px;
}

header .subMenu .col:first-of-type {
	width: 458px;
    float: left;
}

header .subMenu .col:first-of-type li {
	float: left;
	width: 50%;
	margin-bottom: 32px;
	margin-left: 0px;
}
header .subMenu .col:first-of-type li a {
	display: block;
}

header .subMenu .col:first-of-type {
	font-size: 16px;
}

header .subMenu .col:first-of-type p {
	display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    margin-bottom: 0px;
	max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header .subMenu .col:last-of-type li {
	background: #387D65;
    text-align: center;
    line-height: 140%;
    border-radius: 16px;
    padding: 17px;
    margin-left: 0px;
    position: relative;
    top: -4px;
}

header .subMenu .col:last-of-type li a {
	color: white;
}

header .subMenu .col:last-of-type li img {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
}

header .subMenu .col span {
	display: block;
	font-size: 14px;
	font-weight: 500;
	margin-top: 4px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header .subMenu .col:last-of-type {
	width: 458px;
    float: left;
    float: left;
    width: 136px;
}

header ul li:last-of-type:hover .subMenu {
	opacity: 1;
	visibility: visible;
}

header .btns {
    align-items: center;
    display: flex;
    margin-left: auto;
}

header .btns .btn {
	margin-left: 5px;
	margin-top: -5px;
}


header .mobileMenu {
	display: none;
	margin-left: auto;
	outline: none;
	position: relative;
    z-index: 9999;
	transform: rotate(0deg);
	transition: all 0.2s ease;
}

header .mobileMenu span {
	display: block;
	position: absolute;
	height: 2px;
	width: 20px;
	background: #387D65;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.2s ease-in-out;
}

header .mobileMenu span:nth-child(1) {
	top: 20px;
    left: 16px;
}
  
header .mobileMenu span:nth-child(2) {
	top: 26px;
    left: 16px;
}
  
header .mobileMenu span:nth-child(3) {
    top: 32px;
    left: 16px;
}

header .mobileMenu.open {
	background: #fff;
}
  
header .mobileMenu.open span:nth-child(1) {
	opacity: 0;
}
  
header .mobileMenu.open span:nth-child(2) {
	transform: rotate(45deg);
}
  
header .mobileMenu.open span:nth-child(3) {
	transform: rotate(-45deg);
	top: 26.8px;
}


header.fixed {
	position: fixed;
	width: 100%;
}

#mobileMenuNav {
	position: fixed;
	width: 100%;
	height:100%;
	left: 0px;
	top: 0px;
    background: #fff;
    z-index: 9990;
	text-align: center;
	overflow-y: scroll;
}

#mobileMenuNav.open {
	display: block;
}

#mobileMenuNav .logo {
	display: inline-block;
	margin-top: 44px;
}

#mobileMenuNav ul {
	box-sizing: border-box;
	padding: 24px;
	margin-top: 48px;
}

#mobileMenuNav ul li {
    display: block;
	margin-left: 0px;
	text-align: left;
	box-sizing: border-box;
	padding: 13.2px 16px;
	margin-bottom: 16px;
	border-radius: 8px;
}


.row {
    width: 100% !important;
    padding: 0 38px;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
}
#mobileMenuNav ul li.active {
	background: #DFF2EB;
}

#mobileMenuNav ul li a {
	font-size: 18px;
	font-weight: 500;
	color: #6F757C;
}

#mobileMenuNav ul li a img {
	margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

#mobileMenuNav ul li.active a {
	color: #2C6A55;
}

#mobileMenuNav .btn {
	width: 100%;
	text-align: center;
	color: #fff;
}

header .mobileMenu img {
	width: 32px;
}

@media (max-width: 875px) {
	header .mobileMenu {
		display: block;
	}
	header .searchBox, header nav, header .btns {
		display: none;
	}
}
@media (max-width: 1280px) and (min-width: 875px) {
	header .searchBox {
		display: none;
	}
	header ul {
		padding-left: 0px;
	}
	header ul li:last-of-type{
		display: none;
	}

	header .btns .btn.circle {
		max-width: 51.2px;
		max-height: 51.2px;
		min-width: 51.2px;
		min-height: 51.2px;
		padding: 13px;
	}
}